body {
    background-image: url("https://i.imgur.com/EzZkbyM.jpg")!important;
}
.ps-room.ps-room-light {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
    border-color: rgba(0,0,0,0);
}
.ps-room.ps-room-light.scrollable {
    background-color: rgba(252, 147, 20, 0.3);
}
.pad .button,
.ps-room.ps-room-light.scrollable p .button {
    background: #FC9314;
    border-color: #cc0000;
    color: #000;
}
.chat-log {
    background: rgba(0, 100, 200, 0.5) url("https://i.imgur.com/1mn1qEd.png") top right no-repeat;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #000;
    color: white;
}
.chat {
    color: #FFF;
    text-shadow: 1px 2px 1px #000;
}
.chat a {
    color: rgba(237,59,68,.6);
}
a.ilink {
    color: rgba(237,59,68,.6);
    text-shadow: 1px 2px 1px #000;
}
.chat code {
    text-shadow: none;
}
.chat small {
    color: #FFF;
}
.pad .button:hover,
.ps-room.ps-room-light.scrollable p .button:hover {
    background: #e28412;
    border-color: #cc0000;
}
.ps-room.ps-room-light .roomlist,
.roomlisttop {
    width: 100%;
    max-width: 100% !important;
}
.ps-room.ps-room-light .roomlist {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 5px 15px;
}
.roomlist a.ilink {
    background: linear-gradient(to right,#eaa859,#E28412);
    border-color: #000;
    padding: 10px;
    color: #000;
    text-shadow: 1px 2px 1px #000
}
.roomlist a.ilink:hover {
    background: #E28412 url("https://i.imgur.com/1mn1qEd.png") center no-repeat;
    border-color: #fff;
    color: #000;
}
.roomlist a.ilink small {
    color: #000000;
}
.roomcounters .picon {
    background: url("https://i.imgur.com/aw9fjhK.gif") bottom no-repeat !important;
}
.header {
    background: url("https://i.imgur.com/D0e6hIs.png") no-repeat;
}
.header .logo {
    opacity: 0;
}
.maintabbarbottom {
    background: #E28412;
    border-color: #000000;
}
.tabbar a.button.notifying {
    background: #990000;
    border-color: #000000;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000;
}
.tabbar a.button.notifying:hover {
    background: #ad3232;
    border-color: #000000;
    text-shadow: 1px 1px 1px #000;
}
.tabbar a.button.subtle-notifying {
    background: linear-gradient(to bottom,#eaa859,#E28412);
    color: white;
    text-shadow: 1px 1px 1px #000;
}
.tabbar a.button.cur,
.tabbar a.button.cur:hover {
    background: #E28412;
    border-color: #000000;
    color: #000000;
    text-shadow: none;
}
.tabbar a.cur + .closebutton {
    color: black;
}
.tabbar .closebutton:hover,
.tabbar a.cur + .closebutton:hover {
    color: #000;
}
.tabbar a.button,
.userbar button.icon {
    background: linear-gradient(to bottom,#eaa859,#E28412);
    border-color: #000000;
    color: #000000;
    text-shadow: none;
}
.infobox {
    background: transparent;
    border-color: #000;
    border-style: outset;
    padding: 8px;
}
.message small {
    color: #000 !important;
}
.message .utilichart .result {
    border: 1px outset #000;
    background: #ad3232;
}
.utilichart .col {
    color: white;
}
.chat.mine {
    background: transparent;
}
.highlighted {
    background: rgba(255,255,255,0.2);
}
.userlist-count {
    color: #fff;
}
.menugroup {
    background: rgba(255, 165, 0, 0.3);
    border: 1px outset #000;
    color: black;
} 
.userlist li button {
    border-color: rgba(0,0,0,0);
    text-shadow: 2px 2px 2px #000;
    background: rgba(0,0,0,.3);
    box-shadow: inset -1px -1px 0 rgba(220,126,252,1),2px 2px 3px rgba(209,105,244,1);
}
.userlist li button:hover {
    border-color: rgba(0,0,0,0);
    text-shadow: 2px 2px 2px #000;
    background: rgba(255,255,255,.3);
}
.pm-window h3 {
    background: linear-gradient(to bottom,rgba(69,140,69,.4),rgba(100,209,66,.2));!important;
    color: #FFF;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pm-window h3:hover {
    color: #FFF;
}

.pm-notifying h3.pm-notifying {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
    color: #FFF;
}

.pm-notifying h3.pm-notifying:hover {
    color: #FFF;
}

.pm-window.focused h3 {
    background: linear-gradient(to bottom,rgba(69,140,69,.6),rgba(100,209,66,.5));!important;
    border: 1px solid #000;
    color: #FFF;
}

.pm-log {
    background: linear-gradient(to bottom,rgba(169,247,123,.4),rgba(114,209,66,.2)); !important;
    color: #FFF;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pm-window.focused .pm-log {
    border: 1px solid #000;
}

.pm-log-add {
    background: linear-gradient(to bottom,rgba(69,140,69,.4),rgba(100,209,66,.2));!important;
    color: #FFF;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pm-window.focused .pm-log-add {
    border: 1px solid #000;
}

button {
    background: linear-gradient(to bottom,rgba(220,126,252,1),rgba(209,105,244,1));
    text-shadow: 0px 0px 1px #000;
    border-top-left-radius: 10px;
    border: 1px solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

.battle-log {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    border-left: 1px solid #000;
}
.battle-log .chat {
    color :#FFF;
    text-shadow: 1px 1px 1px #000;
}

.battle-log .chat em {
    color :#FFF;
    text-shadow: 1px 1px 1px #000;
}

.battle-log .chat strong {
    color :#FFF;
    text-shadow: 1px 1px 1px #000;
}
    
.battle-log h2 {
    background: linear-gradient(to bottom,rgba(237,59,68,.7),rgba(211,46,54,.6));
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.battle-log-add {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.5));
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.ps-room.ps-room-opaque {
    background: linear-gradient(to bottom,rgba(169,247,123,.4),rgba(114,209,66,.2)); !important;
}
.ps-room .battle-controls {
    background: rgba(0,0,0,0);
}
.switchmenu button {
    background: linear-gradient(to bottom,rgba(169,247,123,1),rgba(114,209,66,.95));
    border: solid 1px #000;
    box-shadow: 0 1px 5px rgba(0,40,0,.2), 0 1px 2px rgba(0,60,0,1);
}
.movemenu button {
    border-color: 1px solid #000;
}
.ps-popup {
    background: linear-gradient(to bottom,#eaa859,#E28412);
    border: 1px solid #000;
    box-shadow: inset 1px 1px 0 #E28412,inset -1px -1px 0 #eaa859,2px 2px 3px rgba(0,0,0,.2);
}
.ps-popup button {
    box-shadow: inset 1px 1px 0 rgba(220,126,252,1),inset 2px 2px 3px rgba(209,105,244,1);
}

.popupmenu button {
    box-shadow: none; !important;
}

.broadcast-blue {
    background: linear-gradient(to right,rgba(0, 30, 200, .5),rgb(0, 100, 220));
    color: white;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -2%;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 1px #E28412, -1px -1px 0 #eaa859, 2px 2px 3px rgba(0,0,0,.2);
}

.broadcast-green {
    background: linear-gradient(to right,rgba(169,247,123,.5),rgba(114,209,66,1));
    color: white;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -2%;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 1px #E28412, -1px -1px 0 #eaa859, 2px 2px 3px rgba(0,0,0,.2);
}

.broadcast-red {
    background: linear-gradient(to right,rgba(237,59,68,.5),rgba(211,46,54,1));
    color: white;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -2%;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 1px #E28412, -1px -1px 0 #eaa859, 2px 2px 3px rgba(0,0,0,.2);
}

.shopheader {
    background: linear-gradient(to right,rgba(237,59,68,.5),rgba(211,46,54,1));
    color: white;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -2%;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 1px #E28412, -1px -1px 0 #eaa859, 2px 2px 3px rgba(0,0,0,.2);
}

.shopfooter {
    background: linear-gradient(to left,rgba(237,59,68,.5),rgba(211,46,54,1));
    color: white;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -2%;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 1px #E28412, -1px -1px 0 #eaa859, 2px 2px 3px rgba(0,0,0,.2);
}
.footerbuttons {
    float: left;
    position: absolute;
    z-index: 10;
}

.shopbutton {
    background: linear-gradient(to left,rgba(237,59,68,.5),rgba(211,46,54,1));
    color: white;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #E28412, -1px -1px 0 #eaa859, 2px 2px 3px rgba(0,0,0,.2);
}

.leftpanel {
    width: 60%;
    max-height: 300px;
    min-height: 250px;
    overflow-y: scroll;
    margin-bottom: 1px;
}

.rightpanel {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 39%;
    max-height: 280px;
    min-height: 250px;
    background: linear-gradient(to bottom,rgba(237,59,68,.5),rgba(211,46,54,1));
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 1px;
}
.tournament-bracket {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
}

.tournament-bracket-tree {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
}

.tournament-toggle {
    background: linear-gradient(to bottom,rgba(69,140,69,.6),rgba(100,209,66,.5));
}

.tournament-status {
    background: linear-gradient(to bottom,rgba(69,140,69,.6),rgba(100,209,66,.5));
}

.tournament-box-active {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
}

.userlist-minimized {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
}

.userlist-maximized {
    background: linear-gradient(to bottom,rgba(237,59,68,.6),rgba(211,46,54,.2));
}
